<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="header :: header-css"></div>
    <title>Products page</title>
</head>
<div th:replace="header :: default-header"></div>
<body>
<div class="container">
<h1>Orders</h1>

<table class="table table-striped">
    <thead>
    <tr class="line">
        <td><strong>OrderID</strong></td>
        <td class="text-right"><strong>Username</strong></td>
        <td class="text-right"><strong>Status</strong></td>
        <td class="text-right"><strong>Date</strong></td>
        <td class="text-right"><strong>Total Price</strong></td>
        <td class="text-right"><strong>Action</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.username}"><br>
        <td th:text="${order.status}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <!-- Display the "Confirm" button only if the order is not confirmed (active) -->
            <form th:if="${!order.isConfirmed}" th:action="@{'/confirmOrder/' + ${order.id}}" method="post">
                <button class="w-50 btn btn-primary btn-lg" type="submit">Confirm</button>
            </form>
            <br>
            <form th:action="@{'/declineOrder/' + ${order.id}}" method="post">
                <button class="w-50 btn btn-primary btn-lg" type="submit">Decline</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>


