<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="header :: header-css"></div>
    <title>Products page</title>
</head>
<div th:replace="header :: default-header"></div>
<body>
<h2>Product Details</h2>
<div>
    <img th:src="${selectedProduct.image}" alt="Product Image" style="max-height: 255px; align-self: center; padding: 10px;" />
    <p>Name: <span th:text="${selectedProduct.name}"></span></p>
    <p>Price: $<span th:text="${selectedProduct.price}"></span></p>
    <p>Category: <span th:text="${selectedProduct.category.name}"></span></p>
    <form th:action="@{/addToCart}" method="post">
        <input type="hidden" name="productId" th:value="${selectedProduct.id}" />
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>


</div>
</body>
</html>