<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="header :: header-css"></div>
    <title>Products page</title>
</head>
<div th:replace="header :: default-header"></div>
<style>
    body {
        background: #e4e4e4;
        background: linear-gradient(90deg, #e4e4e4 0%, rgba(58, 136, 172, 0.73) 100%);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<body>
<div class="container">
    <!--  SEARCH AND FILTERS  -->
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
    <!--            SEARCH-->
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" th:action="@{/products-search}">
                    <input class="form-control" placeholder="Search By Name" aria-label="Search"
                           type="text" name="term" id="term" th:value="${term}" required>
                </form>
    <!--            FILTER-->
                <div class="dropdown top-box animatedq fadeInDownq clearfix">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Category
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               th:each="cat : ${categories}"
                               th:href="@{/products-type/{id}(id=${cat.id})}"
                               th:text="${cat.name}" th:value="${cat.id}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--  PRODUCTS  -->
        <div class="album py-5 bg-body-tertiary" style="position:relative; z-index: 0;" th:if="${product_list} != null" >
            <div class="container">
                <!--  NO PRODUCTS MESSAGE  -->
                <div th:if="${product_list.isEmpty}">
                    <h1>Products not found...</h1>
                </div>

            <div th:if="${param.success != null}" class="alert alert-success" role="alert">
                Product deleted successfully!
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="product : ${product_list}">
                    <div th:if="${product.name != null}" class="card shadow-sm">
                        <div class="card-body">
                            <a th:href="@{/products/{id}(id=${product.id})}" class="text-decoration-none">
                                <div style="display: flex; justify-content: center;">
                                    <img th:src="${product.image}"
                                         style="max-height: 255px; padding: 10px;">
                                </div>
                            </a>
<!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
<!--                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
<!--                             preserveAspectRatio="xMidYMid slice" focusable="false">-->
<!--                            <title>Placeholder</title>-->
<!--                            <rect width="100%" height="100%" fill="#55595c"/>-->
<!--                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">-->
<!--                                Thumbnail-->
<!--                            </text>-->
<!--                        </svg>-->
                            <p class="card-text" th:text="${product.name}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form method="get" th:action="@{/products/{id}(id=${product.id})}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">View product</button>
                                    </form>
                                </div>
                                <div class="btn-group" sec:authorize="hasAuthority('SELLER')">
                                    <form method="get" th:action="@{/update-product/{id}(id=${product.id})}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Edit Product</button>
                                    </form>
                                </div>
                                <form method="post" sec:authorize="hasAuthority('SELLER')" th:action="@{/delete-product/{id}(id=${product.id})}">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete product</button>
                                </form>
                                <p style="color: green; font-size: 20px; font-weight: bold;">
                                    <span th:text="${product.price}"></span>
                                    <span>&#8364;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


